/* This is an example of using Sass, otherwise plain CSS works too*/
$primary-background: #00239C;



  html,
  main{
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    color: white;


  }

  body {
    background: $primary-background;
  }

  nav {
    background-color: purple;
    height: 75px;
    width: 100vw;

  }

  input {
    width: 100px;
  }

  button {
    background-color: #CED9FF;
  }

  .countdown-background {
    background-color: red;
    height: 150px;
    width: 600px;
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;

  }

  .expenses-background {
    background-color: #CED9FF;
    height: 100px;
    width: 550px;
    margin: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    color: black;

  }

  .trips-background {
    background-color: inherit;
    height: 500px;
    width: 600px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    color: white;
  }

  .book-trip-background {
    background: inherit;
    width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .search-results-background {
    background: inherit;
    width: 550px;
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: center;

  }

  .destination-card {
    background: pink;
    width: 500px;
    display: flex;
    height: auto;
    flex-direction: column;
    align-self: center;
    margin-bottom: 30px;
  }


  .nav {
    justify-content: flex-end;
  }

  .countdown,
  .traveler-expenses {
     justify-content: center;
    align-self: center;
  }

  .label {
    justify-content: center;
    // align-self: center;
    padding: 10px;
  }

  .card {
    background-color: #1134AD;
    height: auto;
    width: 550px;
    align-self: center;
    color: black;
    margin-bottom: 30px;
    border-radius: 5px;
    color: white;
  }

  .card-title {
    margin-left: 10px;
    font-size: 22px;
  }

  .card-text {
    margin: 5px;
    justify-content: center;
    margin-left: 35px;
  }
